/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    body{
        margin: 0;
        padding: 0;
    }

    .navbar li a {
        font-size: 13px;
        margin: 1px;
    }
    .nav-link {
        padding: 10px;
    }

    .details-container h2 {
        font-size: 30px;
    }
    
    .details-container h1 {
        font-size: 45px;
    }

    .details-container p {
        font-size: 20px;
    }

    .socials a {
        margin-right: 15px;
    }
    
    .socials {
        padding-top: 5px;
    }
    
    .socials i {
        font-size: 30px;
        color: #88a201;
        padding: 10px;
        width: 60px;
        height: 60px;
    }

    .contactMe {
        border-radius: 20px;
        padding: 10px;
        font-size: 15px;
        text-wrap: nowrap;
    }

    .image-container{
        padding: 20px;

     }
     
     .image-container img {
        width: 300px;
     }
     
     #home{
        padding: 40px 0 50px 0;
    }

    .home {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .details-container{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    #about {
        padding-bottom: 50px;
    }
    
    .title {
        padding-top: 10px;
    }
    
    .title-hr {
        width: 8%;
        border: 1px solid white;
        margin: 5px auto;
    } 

    .skill-hr {
        width: 75%;
        border: 1px solid white;
        margin: 5px auto;
    }
    
    .label {
        padding: 10px;
    }

    .aboutMe{
        padding-bottom: 10px;
    }
    
    .about-text {
        font-size: 14px;
        line-height: 1.5;
    }
    
    .buttons{
        padding: 0 10px;
    }
    
    .buttons button {
        margin: 5px;
        padding: 5px;
    }
    
    .about-button {
        font-size: 15px;
    }
    
    .skill-icons i {
        font-size: 30px;
        margin: 10px;
    }

    
    .skill-icons .card{
        margin: 5px;
        width: 200px;
    }
    
    .skill-icons span{
        font-size: 12px;
        padding: 5px;
    }

    .skill-label h4{
        font-size: 20px;
        text-wrap: nowrap;
    }

    .services .card{
        height: 200px;
    }
    
    .services .card-title i{
        font-size: 40px;
        padding: 5px;
    }

    .services .card-title h5{
        font-size: 15px;
        text-align: center;
    }
    
    .services .card-title p{
        font-size: 15px;
        text-align: center;
    }
    #contact {
        background-color: #141414;
        padding: 20px;
    }

    .contactform {
        width: 100%;
        margin: 0 auto;
        padding: 10px;
        background-color: #fafded;
        border-radius: 15px;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    }
    
    
    .contactform .form-group {
        margin-bottom: 25px;
        width: 300px;
    }
    
    .contactform .form-group input,
    .contactform .form-group textarea {
        width: 100%;
        padding: 10px;
        border: 1px solid #ddd;
        border-radius: 10px;
        box-sizing: border-box;
    }
    
    .contactform .form-group textarea{
        height: 100px;
        outline: none;
        resize: none;
        scrollbar-width: none;
        -ms-overflow-style: none; 
    }
    
    .submit-button{
        width: 100%;
        background-color: #88a201;
        color: white;
        text-decoration: none;
        border-radius: 5px;
        border-radius: 1px solid #88a201;
        border: 1px solid #88a201;
        padding: 5px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 15px;
    }
    
    .submit-button:hover{
        background-color: white;
        color: #88a201;
    }
    
    .contact-socials a {
        margin: 10px;
    }
    
    .contact-socials {
        display: flex;
        justify-content: center;
        align-items: center;
        padding-top: 20px;
    }
    
    .contact-socials i {
        font-size: 25px;
        color: #88a201;
        padding: 10px;
        border: 2px solid #88a201;
        width: 50px;
        height: 50px;
        border-radius: 50%;
        display: inline-flex;
        align-items: center;
        justify-content: center;
        transition: color 0.3s, background-color 0.3s, border-color 0.3s;
    }
    
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
    
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) and (max-width: 992px) {

    .details-container h2 {
        font-size: 25px;
    }
    
    .details-container h1 {
        font-size: 35px;
    }

    .details-container p {
        font-size: 18px;
    }

    .socials a {
        margin-right: 15px;
    }
    
    .socials {
        padding-top: 5px;
    }
    
    .socials i {
        font-size: 20px;
        color: #88a201;
        padding: 10px;
        width: 40px;
        height: 40px;
    }

    .contactMe {
        border-radius: 20px;
        padding: 10px;
        font-size: 12px;
        text-wrap: nowrap;
    }

    .image-container{
        padding: 20px;

     }
     
     .image-container img {
        width: 250px;
     }

     .about-text {
        font-size: 18px;
        line-height: 2;
    }

    .education-card{
        margin-bottom: 10px;
    }

    .about-card h5{
        font-size: 15px;
    }
    .about-card span{
        color: gray;
    }
    
    .about-card p,
    .about-card span{
        font-size: 13px
    };

    .technology i {
        font-size: 5px;
        margin: 5px;
    }
}